@charset "UTF-8";

.center-layout {
	width: 75%;
	margin: 0 auto;
}
header {
	margin-bottom: 20px;
}
table {
	border-collapse: collapse;
}

th, td {
	border: solid 1px #aaa;
	padding: 5px 8px;
}

th {
	text-align: left;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
}